# Домашнее задание #1

* Каждый вопрос оценивается в 0.5 балла. 
* 20 вопросов, максимум 10 баллов.

Запустите ячейку ниже для импорта библиотек.

In [2]:
import pandas as pd
import numpy as np

## Создание датафрейма
В этом задании нужно воспроизвести таблицу со скриншота.

![Снимок экрана 2021-09-06 в 03.09.29.png]()

1. Создайте пустой датафрейм и сохраните его в переменную

In [18]:
# код здесь

df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

2. Создайте в нем две колонки (`height` и `weight`) и в каждую из них запишите соответствующий список (см. скриншот)

In [20]:
# код здесь
df['height'] = [170, 165, 180]
df['weight'] = [68, 45, 90]
df

   height  weight
0     170      68
1     165      45
2     180      90

3. Замените колонку индексов на имена трех студентов

In [21]:
# код здесь
df.index = ['Lisa', 'Alice', 'Mark']
df

       height  weight
Lisa      170      68
Alice     165      45
Mark      180      90

4. Выведите вес для `Alice`, обратившись по лейблу ряда

In [22]:
# код здесь
df['weight'][1]

45

5. Выведите рост для `Mark`, обратившись по порядковому индексу ряда

In [23]:
# код здесь
df.iloc[2]['height']

180

6. Создайте новую колонку `bmi` (индекс массы тела). Формула расчета `bmi`:
$$bmi=\frac{weight}{height^2}$$

In [24]:
# код здесь
df['bmi'] = df['weight'] / ((df.height/100) ** 2) # предварительно делю рост на 100, т.к. в реальности, если не ошибаюсь, формула BMI работает с метрами, а не см 
df

       height  weight        bmi
Lisa      170      68  23.529412
Alice     165      45  16.528926
Mark      180      90  27.777778

## NumPy

7. Создайте массив `numpy` с оценками студентов: `20, 40, 56, 80, 0, 5, 25, 27, 74, 1, 0`

In [20]:
# код здесь
numpy = np.array([20, 40, 56, 80, 0, 5, 25, 27, 74, 1, 0])
numpy

array([20, 40, 56, 80,  0,  5, 25, 27, 74,  1,  0])

8. Отфильтруйте с помощью булевой маски тех студентов, которые получили `0` за работу.

In [22]:
# код здесь
numpy[numpy == 0]

array([0, 0])

9. С помощью метода `numpy` найдите среднюю оценку и сохраните ее в переменную.

In [23]:
# код здесь
mean_grade = numpy.mean()
mean_grade

29.818181818181817

10. Отфильтруте только тех студентов, которые получили оценку выше среднего.

In [28]:
# код здесь
print(numpy[numpy > mean_grade])
numpy > mean_grade

[40 56 80 74]

array([False,  True,  True,  True, False, False, False, False,  True,
       False, False])

## Работа с датасетом (pandas)

Будем работать с рейтингом брендов лапши быстрого приготовления. 

* **Review #**: ID
* **Brand**: Бренд
* **Variety**: Название продукта
* **Style**: Тип упаковки
* **Country**: Страна происхождения
* **Stars**: Рейтинг
* **Top Ten**: Входит ли в топ-10

Запустите ячейку ниже, чтобы загрузить данные.

In [3]:
ramen = pd.read_csv('https://raw.githubusercontent.com/rogovich/2022_POL_Data_Analysis_in_Python/main/%40HW/HW1/ramen-ratings.csv')
ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

11. Выведите информацию о данных (метод `.info()`). Есть ли колонки с пропущенными данными? (напишите ответ в этой ячейке)

*Ответ:*

In [32]:
# код здесь
ramen.info()
# метод info() показал нам, что мы имеем дело с таблицей с 2577 записями (рядами). Далее, по каждой из колонок нам отображается количество непустых ячеек,
# исходя из чего можно сделать вывод, что пустые ячейки имеются в столбцах Style (2 штуки), Top Ten (2536 штук)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2577 non-null   int64
 1   Brand     2577 non-null   object
 2   Variety   2577 non-null   object
 3   Style     2575 non-null   object
 4   Country   2577 non-null   object
 5   Stars     2577 non-null   float64
 6   Top Ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 141.1+ KB

12. Сколько уникальных брендов рамена в наборе данных? Используйте метод `.unique()` для релевантной колонки.

In [40]:
# код здесь
ramen['Brand'].unique().size

355

13. Выведите только те ряды, в которых значение колонки `Style` пропущено (используйте метод `.isna()` для того, чтобы найти пропущенные значения)

In [42]:
# код здесь
ramen[ramen['Style'].isna()]

      Review #   Brand            Variety Style Country  Stars Top Ten
2149       428  Kamfen     E Menm Chicken   NaN   China   3.75     NaN
2439       138    Unif  100 Furong Shrimp   NaN  Taiwan   3.00     NaN

14. Выведите на экран количество брендов, которые удовлетворяют следующим условиям:

* страна происхождения `Malaysia`
* ретинг, как минимум 4.5 звезды
* стиль упаковки — `pack`

Нужно отфильтровать нужные ряды, а затем посмотреть на `.shape` получившегося дата фрейма.

In [55]:
# код здесь
ramen[(ramen['Country'] == 'Malaysia') & (ramen['Stars'] >= 4.5) & (ramen['Style'] == 'Pack')]['Brand'].unique().shape

(17,)

15. Найдите средний рейтинг лапши японских брендов (`Japan`). Отфильтруйте нужные ряды, а потом примените метод для нахождения среднего на колонку рейтинга.

In [57]:
# код здесь
ramen[ramen['Country'] == 'Japan']['Stars'].mean()

3.981605113636364

16. Создайте новую бинарную переменную с помощью функции `np.where` — только тайваньские бренды (`Taiwan`), рейтинг которых больше 4.

In [70]:
# код здесь
ramen['Binary'] = np.where((ramen['Country'] == 'Taiwan') & (ramen['Stars'] > 4), 1, 0)

17. Определите функцию `get_ranking`, которая возвращает строки на основании рейтинга лапши:

* < 2 — 'poor'
* < 3.5 — 'average'
* < 4.5 — 'good.
* 4.5 и больше — 'excellent'

In [10]:
# код здесь
def get_ranking(a):
    if a >= 4.5:
        return 'excellent'
    elif a >= 3.5:
        return 'good'
    elif a >= 2:
        return 'average'
    elif a < 2:
        return 'poor'

18. Примените функцию `get_ranking` к колонке с рейтингом и запишите результат в новую переменную.

In [13]:
# код здесь
ramen['Ranking'] = ramen['Stars'].apply(get_ranking)
ramen

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,Ranking
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,good
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,poor
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,average
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,average
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,good
...,...,...,...,...,...,...,...,...
2572,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,good
2573,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,poor
2574,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,average
2575,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,average
2576,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN,poor

19. Сколько брендов из США попадают в категорию `'good'` (используйте переменные, созданные на двух предыдущих этапов)

In [96]:
# код здесь
ramen[(ramen['Country'] == 'USA') & (ramen['Ranking'] == 'good')].shape

(158, 9)

20. Отфильтруйте только те ряды, которые входят в `Top Ten` (это те ряды, в которых НЕТ пропущенных значений в этой колонке). Для отрицания используем значок тильды `~`

In [8]:
# код здесь
topten = ramen[~ramen['Top Ten'].isna()]
topten[topten['Top Ten'].str.contains("\n") == False] # '\n' фактически тоже является пропуском

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
614,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.00,2016 #10
631,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.00,2016 #1
653,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.00,2016 #8
671,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.00,2016 #5
750,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.00,2016 #9
889,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.00,2016 #7
940,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.00,2015 #10
961,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.00,2015 #7
992,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5.00,2015 #4
1056,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5.00,2015 #9
1069,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.00,2015 #6
1077,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00,2015 #1
1106,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.00,2013 #10
1111,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.00,2015 #8
1227,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5.00,2014 #7
1247,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.00,2014 #4
1269,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5.00,2014 #9
1275,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.00,2014 #10
1306,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5.00,2014 #8
1379,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.00,2014 #5
1394,1183,Paldo,Cheese Noodle,Pack,South Korea,5.00,2014 #6
1490,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5.00,2014 #1
1585,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.00,2013 #1
1586,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5.00,2013 #2
1643,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.00,2013 #4
1754,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5.00,2013 #9
1862,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5.00,2013 #3
1969,608,Koka,Spicy Black Pepper,Pack,Singapore,5.00,2012 #10
1999,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2143,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.50,2012 #5
2185,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5.00,2012 #3
2186,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2292,285,Doll,Artificial Chicken,Pack,Hong Kong,4.50,2012 #9
2472,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5.00,2012 #1
2530,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.00,2012 #2
2546,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4.00,2013 #6
2564,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4