In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()

In [6]:
df['STATS'] = [10, 8, 9] 
df

   STATS
0     10
1      8
2      9

In [7]:
df['PROG'] = [9, 8, 9]
df

   STATS  PROG
0     10     9
1      8     8
2      9     9

In [8]:
df['GPA'] = (df['STATS'] + df['PROG']) / 2
df

   STATS  PROG  GPA
0     10     9  9.5
1      8     8  8.0
2      9     9  9.0

In [10]:
type(df['GPA'])

pandas.core.series.Series

In [13]:
df['GPA'].name, df['GPA'].dtype, df['GPA'].values

('GPA', dtype('float64'), array([9.5, 8. , 9. ]))

In [15]:
df.shape # размерность: количество рядов и колонок

(3, 3)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATS   3 non-null      int64
 1   PROG    3 non-null      int64
 2   GPA     3 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

In [17]:
df.describe()

       STATS      PROG       GPA
count    3.0  3.000000  3.000000
mean     9.0  8.666667  8.833333
std      1.0  0.577350  0.763763
min      8.0  8.000000  8.000000
25%      8.5  8.500000  8.500000
50%      9.0  9.000000  9.000000
75%      9.5  9.000000  9.250000
max     10.0  9.000000  9.500000

In [ ]:
'STATS', 'PROG', 'GPA'

In [23]:
df.columns = ['A', 'B', 'C']
df

    A  B    C
0  10  9  9.5
1   8  8  8.0
2   9  9  9.0

In [24]:
df.columns = ['STATS', 'PROG', 'GPA']
df

   STATS  PROG  GPA
0     10     9  9.5
1      8     8  8.0
2      9     9  9.0

In [19]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [28]:
df['PROG'][0]

9

In [31]:
list(df.iloc) # index location

[STATS    10.0
 PROG      9.0
 GPA       9.5
 Name: 0, dtype: float64,
 STATS    8.0
 PROG     8.0
 GPA      8.0
 Name: 1, dtype: float64,
 STATS    9.0
 PROG     9.0
 GPA      9.0
 Name: 2, dtype: float64]

In [36]:
df.iloc[0]['PROG'], df['PROG'][0] # одно и то же (практически) # про индексы

(9.0, 9)

In [39]:
df.loc[0]['PROG'] # про лейблы
# один и тот же результат, так как у нас щас совпадают лейблы и индексы

9.0

In [40]:
df

   STATS  PROG  GPA
0     10     9  9.5
1      8     8  8.0
2      9     9  9.0

In [55]:
df.index = ['Alice', 'Mark', 'Pasha']
df

       STATS  PROG  GPA
Alice     10     9  9.5
Mark       8     8  8.0
Pasha      9     9  9.0

In [51]:
df.loc['Pasha'][0]

9.0

In [56]:
df.iloc[2][0]

9.0

In [54]:
df.loc['Alice'] # можем посмотреть повторяющиеся строки

       STATS  PROG  GPA
Alice     10     9  9.5
Alice      8     8  8.0

In [57]:
df.loc['Alice']['PROG']

9.0

In [61]:
import requests
bikes = pd.read_csv('https://raw.githubusercontent.com/rogovich/Data/master/data/BikeData.csv')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [62]:
bikes.tail()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [63]:
bikes.shape

(8760, 12)

In [65]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [68]:
bikes['Hour'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [76]:
bikes['Seasons'].unique(), set(bikes['Seasons']) # одно и то же

(array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object),
 {'Autumn', 'Spring', 'Summer', 'Winter'})

In [ ]:
bikes['Partner 1', 'Partner 2'] # ('Partner 1', 'Partner 2') - он пытается искать такое

In [74]:
bikes[['Partner 1', 'Partner 2']]

      Partner 1  Partner 2
0           207         50
1           139         80
2            22        140
3            43        105
4            59         38
...         ...        ...
8755        467        177
8756        296         63
8757        571        665
8758        171        457
8759        442        401

[8760 rows x 2 columns]

In [80]:
(bikes['Holiday'] == 'Holiday').sum()

432

In [88]:
bikes[(bikes['Holiday'] == 'Holiday') 
      & (bikes['Seasons'] == 'Winter')
      & (bikes['Temperature'] < 0)].shape

(103, 12)

In [86]:
bikes[(bikes['Temperature'] < 0)].shape

(1412, 12)

In [91]:
bikes[bikes['Temperature'].isna()].shape

(179, 12)

In [95]:
bikes[bikes['Seasons'].isin(['Winter', 'Summer'])]['Partner 1'].mean()

312.4260531135531

In [96]:
bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']

In [97]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97

In [98]:
del bikes['Partner 1']
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,38,97

In [100]:
bikes = bikes.drop('Partner 2', axis = 1)

In [101]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97

In [102]:
bikes['111'] = bikes['Rental Count']
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,111
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843,843

In [103]:
bikes.drop('111', axis = 1, inplace = True) # но в таком случае отменить эту операцию нельзя
# только заново все открывать и делать дела

In [107]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,False,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,False,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,False,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,False,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,False,Yes,97

In [106]:
bikes['Holiday'] = bikes['Holiday'] == 'Holiday'

In [109]:
bikes['Functioning Day'] = bikes['Functioning Day'].apply(lambda x: 1 if x == 'Yes' else 0)

In [112]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freezing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >= 26:
        return 'Hot'
    else:
        return temp
    
bikes['Temp_Cat'] = bikes['Temperature'].apply(get_temp_cat)
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Temp_Cat
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,False,1,257,Freezing
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,False,1,219,Freezing
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,False,1,162,Freezing
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,False,1,148,Freezing
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,False,1,97,Freezing

In [118]:
import numpy as np

bikes['a'] = np.where((bikes['Holiday'] == True) & (bikes['Seasons'] == 'Winter'), 1, 0)
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Temp_Cat,a
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,False,1,257,Freezing,0
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,False,1,219,Freezing,0
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,False,1,162,Freezing,0
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,False,1,148,Freezing,0
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,False,1,97,Freezing,0